In [24]:
import pandas as pd
import folium
from matplotlib import pyplot as plt

In [2]:
#gps data 불러오기
gps_data = pd.read_csv('Task1_20191105.csv')

In [3]:
gps_data.head()

,003_vmcu accel pedal depth,003_vmcu accel pedal related,003_vmcu brake lamp,003_vmcu brake related,003_vmcu brakes on,003_vmcu d,003_vmcu n,003_vmcu p,003_vmcu r,003_vmcu real vehicle speed,...,004_calc average cell voltage,created_on,MacAddress,before_parsing,latitude,longitude,gps_speed,ev_speed_kmh,accuracy,rownum
0,0.0%,0.0,0.0,90.0,0.0,0.0,0.0,0.0,1.0,4.16mph,...,4.120833333333334V,2019-11-05 15:03:07,00:1D:A5:00:1B:86,[B@ed30c1e,0.0,0.0,0.0,6.6976,0.0,1
1,0.0%,0.0,0.0,90.0,0.0,0.0,0.0,0.0,1.0,3.86mph,...,4.120833333333334V,2019-11-05 15:03:09,00:1D:A5:00:1B:86,[B@df9a7ec,0.0,0.0,0.0,6.2146,0.0,2
2,0.0%,0.0,0.0,90.0,0.0,0.0,0.0,0.0,1.0,4.52mph,...,4.119791666666667V,2019-11-05 15:03:13,00:1D:A5:00:1B:86,[B@d8cb6f,0.0,0.0,0.0,7.2772,0.0,3
3,0.0%,0.0,1.0,89.0,1.0,0.0,0.0,0.0,1.0,0.0mph,...,4.120833333333334V,2019-11-05 15:03:17,00:1D:A5:00:1B:86,[B@77cde55,0.0,0.0,0.0,0.0000,0.0,4
4,0.0%,0.0,0.0,90.0,0.0,0.0,0.0,0.0,1.0,4.16mph,...,4.119791666666667V,2019-11-05 15:03:23,00:1D:A5:00:1B:86,[B@e8bc10f,0.0,0.0,0.0,6.6976,0.0,5

In [4]:
#gps데이터에서 필요한 위도, 경도 데이터만 나타내기
gps_data = gps_data[['latitude', 'longitude']]

In [5]:
gps_data.head()

   latitude  longitude
0       0.0        0.0
1       0.0        0.0
2       0.0        0.0
3       0.0        0.0
4       0.0        0.0

In [42]:
gps_data = gps_data[gps_data.latitude !=0]
gps_data.head()

     latitude   longitude
47  37.492397  127.039084
48  37.492366  127.039120
49  37.492342  127.039142
50  37.492345  127.039140
51  37.492357  127.039132

In [43]:
gps_data.tail()

       latitude  longitude
5907  37.492546  127.03883
5908  37.492546  127.03883
5909  37.492546  127.03883
5910  37.492546  127.03883
5911  37.492546  127.03883

In [40]:
gps_data.shape

(5865, 2)

In [44]:
MAX_RECORDS = 5865

In [63]:
#base_map 형식 지정하기
def generateBaseMap(default_location = [37.492397, 127.039084], default_zoom_start = 12):
    base_map = folium.Map(location = default_location, control_scale = True, zoom_start = default_zoom_start)
    return base_map

In [68]:
base_map = generateBaseMap()
base_map

Visualizing GPS tracking data in Python/Jupyter http://research.ganse.org/datasci/gps/

In [69]:
#gps 데이터를 나타내기
for coord in gps_data[['latitude','longitude']].values:
    folium.CircleMarker(location=[coord[0], coord[1]], radius=1, color='red').add_to(base_map)

base_map.save("gps.html")